.car{
    background-color: blue;
}
.img{
    margin-left: 75ex;
    height: 20em;
    width: 20em;
}
.des{
    text-align: center;
    color: rgb(68, 223, 7);
    font-size: x-large;
    display: block;
}
.but{
    background-color: aqua;
    margin-left:40em ;
    height: 5em;
    width: 5em;

}
.but2{
    background-color: aqua;
    margin-left:11em;
    height: 5em;
    width: 5em;
}

